<h1>Archive.org Search</h1>
<p>Try searching: https://archive.org/metadata/mobydickorwhale01melvuoft</p>

<%= form_tag('/archive/example', method: 'get') do %>
    <%= text_field_tag(:search, params[:search], placeholder: 'Search Internet Archive') %>
    <%= submit_tag('Search') %>
<% end %>

<% if @json %>
    <div class="results">
      <%= simple_format(@json['metadata']['title'], {}, wrapper_tag:'h1') %>
      <%= simple_format(@json['metadata']['creator'], {}, wrapper_tag:'h4') %>

      <br />
      <% @json['files'].each do |file| %>
        <%= simple_format "#{file['name']} : #{file['format']}" %>
      <% end %>
    </div>
<% end %>